.footer_container {
  background-color: #000000;
  padding-top: 20px;
}
.heading_logo{
  color: white;

}
.footer_top {
  display: flex;
  width: 75%;
  margin: auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.footer_top img {
  width: 300px;
  height: 100%;
  margin: auto 0px;
}
.quicklinks {
  margin: 0px 30px;
}
.quicklinks p {
  font-size: 13px;
  color: rgb(202, 202, 202);
}
.quicklinks .heading {
  color: white;
  font-size: 16px;
}
.quicklinks p a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.quicklinks ul {
  list-style-type: none;
}
.quicklinks ul li {
  font-size: 14px;
  color: white;
  margin: 5px 0px;
  padding: 0px 5px;
  transition: 0.3s all ease-in-out;
}
.quicklinks ul li a {
  font-size: 14px;
  text-decoration: none;
}
.quicklinks ul li a:hover {
  color: white;
}
.quicklinks ul li:hover {
  color: rgb(211, 211, 211);
  border-left: 1px solid white;
}
.quicklinks a {
  font-size: 30px;
  color: white;
  margin: 5px;
}
.contactus {
  width: 350px;
}
.footer_btm {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  width: 75%;
  margin: 0px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.195);
}
.footer_btm p {
  font-size: 12px;
  color: white;
}
.contactusmap {
  height: 180px;
  width: 300px;
}
.gototop {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .footer_top {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_top img {
    width: 250px;
    height: 100%;
    margin: auto 0px;
  }
  .quicklinks {
    margin: 0px 10px;
    max-width: 250px;
  }
}
@media screen and (max-width: 950px) {
  .footer_container {
    overflow-x: hidden;
    padding-top: 10px;
  }
  .footer_top {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 5px;
  }
  .footer_top img {
    width: 150px;
    height: auto;
  }
  .quicklinks {
    margin: 5px 15px;
  }
  .quicklinks p,
  .quicklinks p a {
    font-size: 13px;
  }
  .quicklinks .heading {
    font-size: 15px;
  }
  .quicklinks ul li {
    font-size: 12px;
    margin: 5px 0px;
  }
  .quicklinks ul li a {
    font-size: 12px;
  }
  .contactus {
    width: 50%;
  }
  .footer_btm {
    width: 90%;
  }
  .footer_btm p {
    font-size: 12px;
  }
  .contactusmap {
    display: none;
    height: 180px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .footer_container {
    overflow-x: hidden;
    padding-top: 30px;
  }
  .footer_top {
    display: block;
    width: 95%;
    padding: 5px;
  }
  .footer_top img {
    width: 180px;
  }
  .quicklinks {
    margin: 20px 15px;
  }
  .quicklinks p,
  .quicklinks p a {
    font-size: 12px;
  }
  .quicklinks .heading {
    font-size: 15px;
  }
  .quicklinks ul li {
    font-size: 13px;
    margin: 5px 0px;
  }
  .quicklinks ul li a {
    font-size: 13px;
  }
  .contactus {
    width: 90%;
  }
  .footer_btm {
    width: 90%;
  }
  .footer_btm p {
    font-size: 12px;
  }
  .contactusmap {
    display: block;
    height: 180px;
    width: 100%;
  }
}
